@import '../libs/md-colors'

.snackbar
  position fixed
  bottom 0
  right 200px
  line-height 40px
  transition all ease-in-out 0.5s
  
  .snackbar-content
    border-radius 5px 5px 0 0
    padding 0 10px
    height 40px
    color #fff
    text-transform uppercase
    
  .success
    background  md-green-600
  
  .error
    background md-red-600
  
  &.hidden
    bottom -40px
