@import '../variables'

.task-page
  &-description
    margin-bottom 15px
    &__title
      font-size 20px
  &-price
    &__value
      font-size 18px
      color mainColor
      &-valute
        color #000
        font-size 14px
  &-info
    &__title
      font-size 20px

  &-buttons
    padding 15px 0 0

.task-page-comments
  margin 30px 0 0
  &__title
    font-size 20px


.task-comment
  width 200px
  padding-bottom 15px
  
  &__author
    &__value
      font-size 18px


.comment-form
  margin 20px 0 0
