.tab-nav
  border-bottom 1px solid #bbb
  padding-left 5px

  &__item    
    border-radius 5px 5px 0 0
    margin-bottom -1px
    margin-right 5px
    font-weight inherit
    border-bottom none
    
    &.active
      border-bottom 1px solid #fff

.tab-content
  margin 20px 0 0
