.created-task-table
.accepted-task-table
.declared-task-table
  .button
    margin-bottom 0

.created-task__link
  cursor pointer
  opacity 0.8
  transition opacity ease-in-out 0.5s
  
  &:hover
    opacity 1
